@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

:global(body) {
  height: 100vh;
  background-color: var(--bg-color);
}

:global(button) {
  font-family: var(--font-family);
}

:global(#root) {
  height: 100%;
  font-family: var(--font-family);
}

:global(#loading) {
  height: 100%;
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}