@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

:global(body) {
  height: 100vh;
  background-color: var(--bg-color);
}

:global(button) {
  font-family: var(--font-family);
}

:global(#root) {
  height: 100%;
  font-family: var(--font-family);
}

.preloaderContent {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: var(--font-family);
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--text-color);
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}