.button {
  width: 100px;
  padding: 10px;
  box-sizing: border-box;
  margin: 0 10px;
  background-color: transparent;
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
  line-height: 14px;

  &:hover {
    border: 1px solid var(--btn-color-hover);
    color: var(--btn-color-hover);
    cursor: pointer;
  }
}